<!-- Modal -->

<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
          <!-- Modal content-->
          <div class="modal-content">

                      <div class="modal-header">
                            <h4 class="modal-title">{{message}}</h4>
                      </div>
                <form [formGroup]="rForm" >
                      <div class="modal-body">
                              <input #inputField type="text" class="form-control" formControlName="entry">
                         </div>
                        <div class="modal-footer">
                              <input type="submit" class="btn btn-default" data-dismiss="modal" (click)="onSubmit()" value="Submit" [disabled]="!rForm.valid">
                              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clearValue()">Cancle</button> 
                         </div>
                </form> 

          </div>
    </div>
</div>
        
