label { font-size: 24px; }

input[type="text"] { border: none }

.todo-item {
    font-size: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom:solid lightgray;
}

.todo-completed {
    text-decoration: line-through;
    color: gray;    
}

.item-text {

  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

}

.item-text:hover {
    cursor: default;
}

.delete-item {
    float: right;
    background-image: url('../assets/delete.png'); 
    background-size: cover;
    height: 20px;
    width: 20px;
    margin-right: 4px;
}

.mycheckbox {
    display: inline-block;
    background-image: url('../assets/checkbox_checked.png'); 
    background-size: cover;
    height: 20px;
    width: 20px;
}

.edit-item{
    margin-left: 20px;
    padding-left: 4px;
    -webkit-box-shadow: inset 1px 1px 9px -1px rgba(0,0,0,0.67);
    -moz-box-shadow: inset 1px 1px 9px -1px rgba(0,0,0,0.67);
    box-shadow: inset 1px 1px 9px -1px rgba(0,0,0,0.67);
}

.edit-item>form>input{
    outline: none;
    margin:0;
    width: 100%;
    background-color: inherit;
}

.edit-item>form {
    display: inline-block;
    margin-top: 7px;
    margin-bottom: 7px;
    width:90%;
    font-size: 20px;
}

.save-item{
    float: right;
    background-image: url('../assets/accept.png'); 
    background-size: cover;
    height: 20px;
    width: 20px;
    margin-right: 4px;
    margin-top: 10px;
}

